# <span style='color:black'> <center>Introducción a Python</center> </span>
## 1. Objetos y manejo de datos con Python
<p><img src="https://concepto.de/wp-content/uploads/2014/08/programacion-2-e1551291144973.jpg" width="650"</p>

## 1. Variables

Las variables son uno de los conceptos básicos de la programación. Utilizamos variables para almacenar información, representan nuestra entrada de datos.

La asignación de valor se realiza por medio del signo **"="**.

In [1]:
# Crear una variable y guardar dentro un número
mi_variable = 10

In [2]:
print(type (mi_variable))
print(mi_variable)

mi_variable

<class 'int'>
10

10

Las variables son ***case sensitive***, es decir, se hace distinción entre mayúsculas y minúsculas.

In [66]:
# Crear una variable y verificar mediante un print que python es case sensitive
print(Mi_variable)

NameError: name 'Mi_variable' is not defined

A las variables se les puede asignar un valor de manera simultánea, esto es, podemos asignar varios valores a varias variables a la vez.

In [67]:
# Crear dos variables y aisgnarles un valor de manera simultánea
mi_variable2 , mi_variable3 = 2, 5

print(mi_variable2, mi_variable3)

2 5

### Variables numéricas

Dentro de la programación, decir que una variable es del tipo *“numérica”* es un tanto ambiguo dado que un número puede ser un entero o un decimal (floats).

- Integers: Números positivos o negativos enteros sin decimales
- Floats: Número reales, con decimales

Para poder saber que tipo de dato contiene la variable, podemos usar la función **type(var)**

In [68]:
#crear una variable de tipo integer y otra de tipo float
primer_numero = 13
segundo_numero = 10.6

print(type(primer_numero), primer_numero)
print(type(segundo_numero), segundo_numero)

<class 'int'> 13
<class 'float'> 10.6

Podemos transformar cualquier número a un entero o a un float.
La función **int(var)** transforma una variable a tipo entero, asimismo la función **float(var)** transforma una variable a tipo float.

In [69]:
# transformar las variables del apartado anterior a float y a integer respectivamente
primer_numero = float(primer_numero)
segundo_numero = int(segundo_numero)
tercer_numero = str(primer_numero) + ' ahora es string'

print(type(primer_numero), primer_numero)
print(type(segundo_numero), segundo_numero)

print(type(tercer_numero), tercer_numero)

<class 'float'> 13.0
<class 'int'> 10
<class 'str'> 13.0 ahora es string

In [70]:
print(primer_numero)

13.0

### Variables booleanas

Otro tipo de variable dentro de la programación son las de tipo **booleano**, las cuales almacenan valores del tipo verdadero o falso.

Es importante saber que cuando asignemos un valor booleano a una variable lo hagamos usando mayúscula en la primera letra.

- **True**: verdadero
- **False**: falso

In [71]:
variable_bool = True

print(type(variable_bool), variable_bool)

<class 'bool'> True

### Variables de tipo texto

Las string son cadenas de texto compuestas por una secuencia de caracteres. 

Para poder introducir texto a Python es necesario utilizar comillas simples o dobles, dado que, si introducimos texto directamente en las celdas, Python interpretará esto como si fuera una variable (la cuál no hemos definido anteriormente) y nos arrojará un error.

In [72]:
# Crear una variable de tipo texto
variable_texto = Programación

NameError: name 'Programación' is not defined

In [73]:
# Crea una variable de tipo texto con la sintaxis correcta
variable_texto = 'Programación'
print(type(variable_texto), variable_texto)

'tambien se puede hacer esto'

<class 'str'> Programación

'tambien se puede hacer esto'

In [74]:
# Ejemplo de escritura con comilla simple marcando error
ejemplo = 'I'm fine'

SyntaxError: unterminated string literal (detected at line 2) (1306210694.py, line 2)

Podemos realizar la combinación de texto para expresar oraciones mediante el signo **‘+’**.

In [75]:
#Concatenar una frase con el contenido de una variable
nombre = "Enrique"
oración = "Hola mi nombre es: " + nombre
print(oración)

Hola mi nombre es: Enrique

Para poder convertir alguna variable numérica a variable de tipo texto, utilizamos la función **str(var)**.

In [77]:
numero = 25
numero_texto = str(numero)

print(type(numero_texto))

print("El número es: " + numero_texto + ' en formato string')

<class 'str'>
El número es: 25 en formato string

In [79]:
f'la suma es {2+2} esto es para formato'

'la suma es 4 esto es para formato'

## 2. Operaciones

### Operaciones aritméticas

Con Python podemos realizar operaciones aritméticas como suma, resta , multiplicación, etc. 
- **Suma**: se realiza con el operador **+**
- **Resta**: se realiza con el operador **-**
- **Multiplicación**: se realiza con el operador *
- **División**: se realiza con el operador **/**
- **Residuo**: obtenemos el residuo de una división mediante el operador **%**
- **Potencia**: se realiza con el operador **

In [84]:
# Suma
print("Sumar 2 más 2 nos da: ", 2 + 2)
# Resta
print("Restar 10 menos 8 nos da: ", 10 - 8)
# Multiplicación
print("Multiplicar 24 por 3 nos da: ", 24 * 3)
# División
print("Dividir 50 entre 6 nos da: ", round(50 / 6, 2))  
# Residuo
print("El residuo de la operación anterior es: ", 50 % 6)
# Potencia
print("2 elevado a la 8 nos da: ", 2**8)

Sumar 2 más 2 nos da:  4
Restar 10 menos 8 nos da:  2
Multiplicar 24 por 3 nos da:  72
Dividir 50 entre 6 nos da:  8.33
El residuo de la operación anterior es:  2
2 elevado a la 8 nos da:  256

### Indexar Elementos

In [106]:
mi_palabra = 'Computadora'
print(mi_palabra)

print( mi_palabra.__len__())

print(len(mi_palabra))

print(mi_palabra[0:4])

print(mi_palabra[4:])

print(mi_palabra[:7])

print(mi_palabra[len(mi_palabra)-1])

Computadora
11
11
Comp
utadora
Computa
a

In [85]:
variable1 = 10
variable2 = 20

print(variable1 + variable2)

30

In [86]:
variable3 = 30.6798
round(variable3, 2)

30.68

### Operaciones de comparación

En Python, utilizamos los operadores de comparación para comparar entre dos o más valores. 

Como resultado, siempre obtendremos un valor de tipo booleano, es decir, **verdadero** o **falso**.

##### - Igual
Se realiza mediante el operador **==**. True si el operando de la izquierda es igual que el de derecha, False en caso contrario.
##### - Distinto
Se realiza mediante el operador **!=**. True si los operandos son distintos; False en caso contrario.
##### - Mayor que
Se realiza mediante el operador **>**. True si el operando de la izquierda es estrictamente mayor que el de la derecha, False en caso contrario.
##### - Mayor o igual que
Se realiza mediante el operador **>=**. True si el operando de la izquierda es mayor o igual que el de la derecha; False en caso contrario.
##### - Menor que
Se realiza mediante el operador **<**. True si el operando de la izquierda es estrictamente menor que el de la derecha; False en caso contrario.
##### - Menor o igual que
Se realiza mediante el operador **<=**. True si el operando de la izquierda es menor o igual que el de la derecha; False en caso contrario.

In [109]:
primer_dato = 40
segundo_dato = 51 

# Igual
print('¿El primer dato es igual al segundo?:', primer_dato == segundo_dato)
# Distino
print('¿El primer dato es distinto al segundo?:', primer_dato != segundo_dato)
# Mayor que / Mayor o igual que
print('¿El primer dato es mayor o igual al segundo?:', primer_dato >= segundo_dato)
# Menor que / Menor o igual que
print('¿El primer dato es menor o igual al segundo?:', primer_dato <= segundo_dato)

¿El primer dato es igual al segundo?: False
¿El primer dato es distinto al segundo?: True
¿El primer dato es mayor o igual al segundo?: False
¿El primer dato es menor o igual al segundo?: True

### Operaciones lógicas

Los operadores lógicos comparan declaraciones y devuelven un valor de True o False, estos también se conocen como operadores booleanos.

Se utiliza un operador lógico para tomar una decisión basada en múltiples condiciones.

- **Not:** obtenemos lo opuesto (la negación) a una declaración dada.
- **And:** revisa si ambas declaraciones son verdaderas.
- **Or:** revisa si al menos una de las declaraciones son verdaderas.

**Nota**. Las evaluaciones lógicas se ejecutarán en el orden previamente presentado (primero Not, luego And y finalmente Or).

<p><img src="https://rea.ceibal.edu.uy/elp/logica-para-informatica/TablasFinales.png" width="450"</p>

In [112]:
# Ejecutar todas las combinaciones posibles con el operador Not
print("Operador not: ", not True, not False)
# Ejecutar todas las combinaciones posibles con el operador And
print("Operador and: ", True and True, True and False, False and True, False and False)
# Ejecutar todas las combinaciones posibles con el operador Or
print("Operador or: ", True or True, True or False, False or True, False or False)

Operador not:  False True
Operador and:  True False False False
Operador or:  True True True False

In [119]:
print(not 20 < 10 )
print(10 > 5 and 5 == 5)
print(10 != 0 or 3 < 1)

True
True
True

Podemos realizar evaluaciones con operadores lógicos combinados con operadores de comparación

In [120]:
# Realizar operación lógica a partir de una comparación
print (24 + 2 > 12 + 6 and 10 < 4)

False

La jerarquía previamente mencionada es importante a la hora de realizar una evaluación lógica con más de una declaración.

In [122]:
# Realizar una evaluación lógica considerando más de una declaración
print(True and not True or True)    # esto es un comentario

# Orden o jerarquia: NAO [Not, And, Or]
# Paso 1: True and False or True
# Paso 2: False or True
# Paso 3: True

True

### Operaciones de identidad

Nos indican si dos variables hacen referencia al mismo objeto.

Si dos variables distintas tienen el mismo id(), el resultado de aplicar el operador **is** sobre ellas será True.

- **is:** Nos devuelve **True** si hacen referencia a el mismo objeto.
- **is not:** Nos devuelve **False** si no hacen referencia a el mismo objeto.

In [ ]:
# operación de identidad con un integer
x = 35
y = 35

print(id(x))
print(id(y))

print(x is y)
print(x == y)

print(x is not y)

140704303745000
140704303745000
True
True
False

In [11]:
# Operación de identidad con una lista
x = [6,10,15]
y = [6,10,15]

print(id(x))
print(id(y))
print(x is y)
print(x == y)
print(x is not y)

2972594829760
2972598313984
False
True
True

Note que en el ejemplo anterior, el resultado *(x is y)* es **False** a pesar que las variables contienen los mismos datos. 

Esto es porque al ser una lista un objeto **mutable** (que puede cambiar una vez creada), Python le asignará un **id** distinto sin importar que las variables contengan al principio los mismos datos.

Objeto **MUTABLE**: es un Objeto que Puede cambiar su Valor una vez creada i.e. Las **Listas**. Un Objeto NO-MUTABLE no puede cambiar el valor i.e. constante (35)

## 3. Listas, tuplas y diccionarios

### Listas

Una lista es una “secuencia” de datos ya sean números, cadenas de texto, otras listas, etc. Se definirán entre corchetes **[ ]**, y a partir de la definición de una lista, podemos acceder y extraer un elemento de esta.

In [28]:
#Crear una lista
Alumnos = ["Rodrigo", "José", "Enrique", 0, [1, 'dos', 3]]
print(Alumnos)

print(Alumnos[0])
print(Alumnos[4][1])

['Rodrigo', 'José', 'Enrique', 0, [1, 'dos', 3]]
Rodrigo
dos

Podemos acceder a los elementos de la lista mediante su índice (se cuentan posiciones a partir del índice 0 de izquierda a derecha). 

Para acceder al útlimo elemento (o cualquier elemento de derecha a izquierda), comenzamos a contar a partir del -1 y así subsecuentemente.

In [ ]:
Alumnos = ["Rodrigo", "José", "Enrique", 0, [1, 'dos', 3]]

#Acceder al primer elemento de la lista
print(Alumnos[0])
print(Alumnos[1])

#Acceder al último elemento de la lista
print(Alumnos[-1])
print(Alumnos[-2])

print(Alumnos[10]) #debe dar Error

Rodrigo
José
[1, 'dos', 3]
0

IndexError: list index out of range

Las listas son objetos **mutables**, es decir, pueden ser modificados una vez creados. Es posible reemplazar, eliminar y agregar datos a la lista.

In [34]:
Alumnos = ["Rodrigo", "José", "Enrique", 0, [1, 'dos', 3]]
print(Alumnos)

#Reemplazar un elemento de la lista:
Alumnos[2] = "María"
print(Alumnos)

#Eliminar un elemento a la lista
del Alumnos[1] #borra a jose
print(Alumnos)

# reemplazar
Alumnos[-1] = "nuevo"
print(Alumnos)

['Rodrigo', 'José', 'Enrique', 0, [1, 'dos', 3]]
['Rodrigo', 'José', 'María', 0, [1, 'dos', 3]]
['Rodrigo', 'María', 0, [1, 'dos', 3]]
['Rodrigo', 'María', 0, 'nuevo']

Podemos agregar un elemento a una lista a través del método **append()** y agregar varios elementos a una lista a través del método **extend()**.

In [36]:
Alumnos = ["Rodrigo", "José", "Enrique", 0, [1, 'dos', 3]]

#Agregar un elemento a la lista
Alumnos.append('Carmen')

#Agregar varios elementos a una lista
Alumnos.extend(['Jorge','Ana','Ana'])

print(Alumnos)

['Rodrigo', 'José', 'Enrique', 0, [1, 'dos', 3], 'Carmen', 'Jorge', 'Ana', 'Ana']

In [37]:
mi_lista = []

mi_lista.append('Elemento_1')

print(mi_lista)

['Elemento_1']

**SLICING**

Podemos acceder a un rango de elementos de un objeto (como las listas) mediante **slicing**. Esta técnica puede interpretarse como realizar un corte al objeto para acceder a una parte de este.

In [52]:
print(Alumnos)

# SLICING !!!

#Diferentes ejemplos de slicing
print('1.-', Alumnos[1:3])

print('2.-', Alumnos[1:])

print('3.-', Alumnos[:2])

print('4.-', Alumnos[-2:])

print('5.-', Alumnos[:-4])

['Rodrigo', 'José', 'Enrique', 0, [1, 'dos', 3], 'Carmen', 'Jorge', 'Ana', 'Ana']
1.- ['José', 'Enrique']
2.- ['José', 'Enrique', 0, [1, 'dos', 3], 'Carmen', 'Jorge', 'Ana', 'Ana']
3.- ['Rodrigo', 'José']
4.- ['Ana', 'Ana']
5.- ['Rodrigo', 'José', 'Enrique', 0, [1, 'dos', 3]]

Para conocer la posición que tiene un elemento dentro de la lista, utilizamo el método **index()**.

In [45]:
#Conocer la ubicación de un elemento dentro del objeto
Alumnos.index('Ana')

7

Por último, la función **len()** nos permitirá saber cuántos elementos conforman una lista.

In [55]:
#Contar los elementos dentro de una lista
print(len(Alumnos))
print(len(Alumnos[4]))

9
3

In [57]:
mi_lista = ['Marco', 'Marco']

print(mi_lista.index('Marco'))

0

### Tuples

Son otro tipo de objeto que almacena una serie de valores (secuencia). A diferencia de las listas, las tuples son **inmutables**, es decir, no se pueden modificar (eliminar ni agregar elementos). Las tuples definirán entre paréntesis **()**; son el objeto por default de python para almacenar una secuencia de valores.

In [70]:
# Crear una tupla
mi_tupla = (5,10,15, (1,2,3), ['a', 'b'])
print(mi_tupla)

(5, 10, 15, (1, 2, 3), ['a', 'b'])

Es posible convertir tuplas a listas y viceversa. Esto lo realizamos a partir de las funciones **list()** y **tuple()** respectivamente.

In [71]:
# Convertir una tupla a lista
mi_lista = list(mi_tupla)
print(mi_lista)

[5, 10, 15, (1, 2, 3), ['a', 'b']]

Al igual que con las listas, podemos conocer el número de elementos **(len)** y la posición de un elemento **(index)**.

In [72]:
#Número de elementos
print(len(mi_tupla))

#Posición de un elemento
print(mi_tupla.index(10))

5
1

In [73]:
lista1 = [1,2,3]
tuple1 = tuple(lista1)

print(tuple1)

(1, 2, 3)

### Diccionarios

Son otra manera de almacenar data. Cada valor almacenado dentro del diccionario estará relacionado con una llave. Una llave y su valor forman una pareja **“key-value”**. Los diccionarios se definen a partir de llaves **{}**.

In [79]:
#Crear un diccionario
mi_diccionario = {'k1':'gato','k2':'perro','k3':'pez','k4':'hamster', 'k10':[1,2,3]}

#Acceder a un elemento del diccionario mediante su llave
print(mi_diccionario)
print(mi_diccionario['k1'])
print(mi_diccionario['k2'])
print(mi_diccionario['k10'])

{'k1': 'gato', 'k2': 'perro', 'k3': 'pez', 'k4': 'hamster', 'k10': [1, 2, 3]}
gato
perro
[1, 2, 3]

Los diccionarios son objetos mutables. Se les pueden añadir yreemplazar elementos

In [83]:
#Añadir elementos
datos = {'k5':'pájaro','k6':'toro'}
mi_diccionario.update(datos)
mi_diccionario['k6'] = 'iguana'

#Reemplazar un elemento
mi_diccionario['k1'] = 'serpiente'
print(mi_diccionario)

{'k1': 'serpiente', 'k2': 'perro', 'k3': 'pez', 'k4': 'hamster', 'k10': [1, 2, 3], 'k5': 'pájaro', 'k6': 'iguana'}

Un diccionario puede contener una lista dentro de sus elementos.

In [84]:
#Una lista dentro de un diccionario
mi_diccionario2 = {'llave1':'Rodrigo', 'llave2':['Maria', 'Luisa']}
mi_diccionario2

{'llave1': 'Rodrigo', 'llave2': ['Maria', 'Luisa']}

Existen diferentes formar de crear un diccionario, una de ellas es ir asignando valores a cada llave por separado.

In [88]:
#Forma alternativa de construir un formulario
Equipo = {}
print(type(Equipo))

Equipo['Portero'] = 'Jorge'
Equipo['Defensa'] = 'Arturo'
Equipo['Delantero'] = 'Antonio'

print(Equipo)

<class 'dict'>
{'Portero': 'Jorge', 'Defensa': 'Arturo', 'Delantero': 'Antonio'}