# <span style='color:black'> <center>Manejo de datos con Pandas</center> </span>
## 1. Análisis Exploratorio
<p><img src="https://online.york.ac.uk/wp-content/uploads/2021/07/man-in-a-suit-standing-behind-a-hologram-of-data-analytics-1030x579.jpg" width="750"</p>

## Explorando un DataFrame
<p>Cuando trabajamos con DataFrames, es un bueno comenzar por explorarlo y analizar su contenido.
    
<code>homelessnes</code> es un dataset que contiene estimaciones de la falta de vivienda en cada estado de EE. UU. en 2018. La columna <code>individual</code> es el número de personas sin hogar que no forman parte de una familia con niños. La columna <code>family_members</code> es el número de personas sin hogar que forman parte de una familia con niños. La columna <code>state_pop</code> es la población total del estado. </p>

Preparacion de Datos

hint: el primer renglon tiene un "hola"

In [1]:
#Importar la libreria pandas
import pandas as pd

#Realizar la lectura del archivo csv homelessness
homlessness = pd.read_csv('homelessness.csv', 
                          sep=',', 
                          header=1, # header para empezar a leer desde el segundo renglon (ver archivo tiene "hola" al inicio)
                          usecols = {'state','state_pop'}, #seleccionar columnas a analizar
                          dtype={'state_pop':'int'})  # definir el tipo de datos de la columna

print('state_pop Mean:', homlessness['state_pop'].mean())
homlessness

state_pop Mean: 6405637.274509804

                   state  state_pop
0                Alabama    4887681
1                 Alaska     735139
2                Arizona    7158024
3               Arkansas    3009733
4             California   39461588
5               Colorado    5691287
6            Connecticut    3571520
7               Delaware     965479
8   District of Columbia     701547
9                Florida   21244317
10               Georgia   10511131
11                Hawaii    1420593
12                 Idaho    1750536
13              Illinois   12723071
14               Indiana    6695497
15                  Iowa    3148618
16                Kansas    2911359
17              Kentucky    4461153
18             Louisiana    4659690
19                 Maine    1339057
20              Maryland    6035802
21         Massachusetts    6882635
22              Michigan    9984072
23             Minnesota    5606249
24           Mississippi    2981020
25              Missouri    6121623
26               Montana    1060665
27              Nebraska    1925614
28                Nevada    3027341
29         New Hampshire    1353465
30            New Jersey    8886025
31            New Mexico    2092741
32              New York   19530351
33        North Carolina   10381615
34          North Dakota     758080
35                  Ohio   11676341
36              Oklahoma    3940235
37                Oregon    4181886
38          Pennsylvania   12800922
39          Rhode Island    1058287
40        South Carolina    5084156
41          South Dakota     878698
42             Tennessee    6771631
43                 Texas   28628666
44                  Utah    3153550
45               Vermont     624358
46              Virginia    8501286
47            Washington    7523869
48         West Virginia    1804291
49             Wisconsin    5807406
50               Wyoming     577601

Volver al ORIGINAL Dataframe con todas las columnas

In [2]:
#Realizar la lectura del archivo csv homelessness
homlessness = pd.read_csv('homelessness.csv', 
                          sep=',', 
                          header=1) # header para empezar a leer desde el segundo renglon (ver archivo .csv tiene "hola" al inicio)

print('state_pop Mean:', homlessness['state_pop'].mean())
homlessness

state_pop Mean: 6405637.274509804

,region,state,individuals,family_members,state_pop
0,East South Central,Alabama,2570,864,4887681
1,Pacific,Alaska,1434,582,735139
2,Mountain,Arizona,7259,2606,7158024
3,West South Central,Arkansas,2280,432,3009733
4,Pacific,California,109008,20964,39461588
5,Mountain,Colorado,7607,3250,5691287
6,New England,Connecticut,2280,1696,3571520
7,South Atlantic,Delaware,708,374,965479
8,South Atlantic,District of Columbia,3770,3134,701547
9,South Atlantic,Florida,21443,9587,21244317
10,South Atlantic,Georgia,6943,2556,10511131
11,Pacific,Hawaii,4131,2399,1420593
12,Mountain,Idaho,1297,715,1750536
13,East North Central,Illinois,6752,3891,12723071
14,East North Central,Indiana,3776,1482,6695497
15,West North Central,Iowa,1711,1038,3148618
16,West North Central,Kansas,1443,773,2911359
17,East South Central,Kentucky,2735,953,4461153
18,West South Central,Louisiana,2540,519,4659690
19,New England,Maine,1450,1066,1339057
20,South Atlantic,Maryland,4914,2230,6035802
21,New England,Massachusetts,6811,13257,6882635
22,East North Central,Michigan,5209,3142,9984072
23,West North Central,Minnesota,3993,3250,5606249
24,East South Central,Mississippi,1024,328,2981020
25,West North Central,Missouri,3776,2107,6121623
26,Mountain,Montana,983,422,1060665
27,West North Central,Nebraska,1745,676,1925614
28,Mountain,Nevada,7058,486,3027341
29,New England,New Hampshire,835,615,1353465
30,Mid-Atlantic,New Jersey,6048,3350,8886025
31,Mountain,New Mexico,1949,602,2092741
32,Mid-Atlantic,New York,39827,52070,19530351
33,South Atlantic,North Carolina,6451,2817,10381615
34,West North Central,North Dakota,467,75,758080
35,East North Central,Ohio,6929,3320,11676341
36,West South Central,Oklahoma,2823,1048,3940235
37,Pacific,Oregon,11139,3337,4181886
38,Mid-Atlantic,Pennsylvania,8163,5349,12800922
39,New England,Rhode Island,747,354,1058287
40,South Atlantic,South Carolina,3082,851,5084156
41,West North Central,South Dakota,836,323,878698
42,East South Central,Tennessee,6139,1744,6771631
43,West South Central,Texas,19199,6111,28628666
44,Mountain,Utah,1904,972,3153550
45,New England,Vermont,780,511,624358
46,South Atlantic,Virginia,3928,2047,8501286
47,Pacific,Washington,16424,5880,7523869
48,South Atlantic,West Virginia,1021,222,1804291
49,East North Central,Wisconsin,2740,2167,5807406
50,Mountain,Wyoming,434,205,577601

In [3]:
# Imprimir las primeras 5 lineas de mi DataFrame

homlessness.head()

# Imprimir las ultimas 5 lineas de mi DataFrame
homlessness.tail(5)

# Imprimir una muestra de mi DataFrame
homlessness.sample(7)

                region           state  individuals  family_members  state_pop
2             Mountain         Arizona         7259            2606    7158024
14  East North Central         Indiana         3776            1482    6695497
36  West South Central        Oklahoma         2823            1048    3940235
13  East North Central        Illinois         6752            3891   12723071
16  West North Central          Kansas         1443             773    2911359
33      South Atlantic  North Carolina         6451            2817   10381615
5             Mountain        Colorado         7607            3250    5691287

In [4]:
# Imprimir la información de los campos de mi DataFrame

homlessness.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   region          51 non-null     object
 1   state           51 non-null     object
 2   individuals     51 non-null     int64
 3   family_members  51 non-null     int64
 4   state_pop       51 non-null     int64
dtypes: int64(3), object(2)
memory usage: 2.1+ KB

In [5]:
# Imprimir el tamaño (#filas, #columnas) de mi DataFrame

homlessness.shape

(51, 5)

In [6]:
# Imprimir la ESTADISTICA descriptiva básica de mi DataFrame

homlessness.describe()

         individuals  family_members     state_pop
count      51.000000       51.000000  5.100000e+01
mean     7225.784314     3504.882353  6.405637e+06
std     15991.025083     7805.411811  7.327258e+06
min       434.000000       75.000000  5.776010e+05
25%      1446.500000      592.000000  1.777414e+06
50%      3082.000000     1482.000000  4.461153e+06
75%      6781.500000     3196.000000  7.340946e+06
max    109008.000000    52070.000000  3.946159e+07

## Partes un DataFrame
<p>Para comprender mejor la estructura de un DataFrame, es útil saber que constan de tres componentes, almacenados como atributos:
<ul>
<li><code>.values</code> muestra una matriz de valores NumPy bidimensional</li>
<li><code>.columns</code> muestra índice de columnas: los nombres de las columnas.</li>
<li><code>.index</code> muestra índice para las filas: números de fila o nombres de fila.</li>
</ul>
</p>

In [7]:
# Imprimir los valores de mi DataFrame
homlessness.values

array([['East South Central', 'Alabama', 2570, 864, 4887681],
       ['Pacific', 'Alaska', 1434, 582, 735139],
       ['Mountain', 'Arizona', 7259, 2606, 7158024],
       ['West South Central', 'Arkansas', 2280, 432, 3009733],
       ['Pacific', 'California', 109008, 20964, 39461588],
       ['Mountain', 'Colorado', 7607, 3250, 5691287],
       ['New England', 'Connecticut', 2280, 1696, 3571520],
       ['South Atlantic', 'Delaware', 708, 374, 965479],
       ['South Atlantic', 'District of Columbia', 3770, 3134, 701547],
       ['South Atlantic', 'Florida', 21443, 9587, 21244317],
       ['South Atlantic', 'Georgia', 6943, 2556, 10511131],
       ['Pacific', 'Hawaii', 4131, 2399, 1420593],
       ['Mountain', 'Idaho', 1297, 715, 1750536],
       ['East North Central', 'Illinois', 6752, 3891, 12723071],
       ['East North Central', 'Indiana', 3776, 1482, 6695497],
       ['West North Central', 'Iowa', 1711, 1038, 3148618],
       ['West North Central', 'Kansas', 1443, 773, 2911359],
       ['East South Central', 'Kentucky', 2735, 953, 4461153],
       ['West South Central', 'Louisiana', 2540, 519, 4659690],
       ['New England', 'Maine', 1450, 1066, 1339057],
       ['South Atlantic', 'Maryland', 4914, 2230, 6035802],
       ['New England', 'Massachusetts', 6811, 13257, 6882635],
       ['East North Central', 'Michigan', 5209, 3142, 9984072],
       ['West North Central', 'Minnesota', 3993, 3250, 5606249],
       ['East South Central', 'Mississippi', 1024, 328, 2981020],
       ['West North Central', 'Missouri', 3776, 2107, 6121623],
       ['Mountain', 'Montana', 983, 422, 1060665],
       ['West North Central', 'Nebraska', 1745, 676, 1925614],
       ['Mountain', 'Nevada', 7058, 486, 3027341],
       ['New England', 'New Hampshire', 835, 615, 1353465],
       ['Mid-Atlantic', 'New Jersey', 6048, 3350, 8886025],
       ['Mountain', 'New Mexico', 1949, 602, 2092741],
       ['Mid-Atlantic', 'New York', 39827, 52070, 19530351],
       ['South Atlantic', 'North Carolina', 6451, 2817, 10381615],
       ['West North Central', 'North Dakota', 467, 75, 758080],
       ['East North Central', 'Ohio', 6929, 3320, 11676341],
       ['West South Central', 'Oklahoma', 2823, 1048, 3940235],
       ['Pacific', 'Oregon', 11139, 3337, 4181886],
       ['Mid-Atlantic', 'Pennsylvania', 8163, 5349, 12800922],
       ['New England', 'Rhode Island', 747, 354, 1058287],
       ['South Atlantic', 'South Carolina', 3082, 851, 5084156],
       ['West North Central', 'South Dakota', 836, 323, 878698],
       ['East South Central', 'Tennessee', 6139, 1744, 6771631],
       ['West South Central', 'Texas', 19199, 6111, 28628666],
       ['Mountain', 'Utah', 1904, 972, 3153550],
       ['New England', 'Vermont', 780, 511, 624358],
       ['South Atlantic', 'Virginia', 3928, 2047, 8501286],
       ['Pacific', 'Washington', 16424, 5880, 7523869],
       ['South Atlantic', 'West Virginia', 1021, 222, 1804291],
       ['East North Central', 'Wisconsin', 2740, 2167, 5807406],
       ['Mountain', 'Wyoming', 434, 205, 577601]], dtype=object)

In [8]:
# Imprimir el nombre de mis campos (columnas) de mi DataFrame

homlessness.columns

Index(['region', 'state', 'individuals', 'family_members', 'state_pop'], dtype='object')

In [9]:
# Imprimir el indice de mi DataFrame

homlessness.index

RangeIndex(start=0, stop=51, step=1)

## Ordenando filas de un DataFrame
<p>Encontrar datos interesantes en un DataFrame suele ser más fácil si cambiamos el orden de las filas. Podemos ordenar las filas pasando un nombre de columna al método <code>.sort_values()</code>. </p>

In [10]:
# Ordena el DataFrame por la columna 'individual'

homlessness_ind = homlessness.sort_values('individuals')

# Imprime el resultado

homlessness_ind

,region,state,individuals,family_members,state_pop
50,Mountain,Wyoming,434,205,577601
34,West North Central,North Dakota,467,75,758080
7,South Atlantic,Delaware,708,374,965479
39,New England,Rhode Island,747,354,1058287
45,New England,Vermont,780,511,624358
29,New England,New Hampshire,835,615,1353465
41,West North Central,South Dakota,836,323,878698
26,Mountain,Montana,983,422,1060665
48,South Atlantic,West Virginia,1021,222,1804291
24,East South Central,Mississippi,1024,328,2981020
12,Mountain,Idaho,1297,715,1750536
1,Pacific,Alaska,1434,582,735139
16,West North Central,Kansas,1443,773,2911359
19,New England,Maine,1450,1066,1339057
15,West North Central,Iowa,1711,1038,3148618
27,West North Central,Nebraska,1745,676,1925614
44,Mountain,Utah,1904,972,3153550
31,Mountain,New Mexico,1949,602,2092741
3,West South Central,Arkansas,2280,432,3009733
6,New England,Connecticut,2280,1696,3571520
18,West South Central,Louisiana,2540,519,4659690
0,East South Central,Alabama,2570,864,4887681
17,East South Central,Kentucky,2735,953,4461153
49,East North Central,Wisconsin,2740,2167,5807406
36,West South Central,Oklahoma,2823,1048,3940235
40,South Atlantic,South Carolina,3082,851,5084156
8,South Atlantic,District of Columbia,3770,3134,701547
25,West North Central,Missouri,3776,2107,6121623
14,East North Central,Indiana,3776,1482,6695497
46,South Atlantic,Virginia,3928,2047,8501286
23,West North Central,Minnesota,3993,3250,5606249
11,Pacific,Hawaii,4131,2399,1420593
20,South Atlantic,Maryland,4914,2230,6035802
22,East North Central,Michigan,5209,3142,9984072
30,Mid-Atlantic,New Jersey,6048,3350,8886025
42,East South Central,Tennessee,6139,1744,6771631
33,South Atlantic,North Carolina,6451,2817,10381615
13,East North Central,Illinois,6752,3891,12723071
21,New England,Massachusetts,6811,13257,6882635
35,East North Central,Ohio,6929,3320,11676341
10,South Atlantic,Georgia,6943,2556,10511131
28,Mountain,Nevada,7058,486,3027341
2,Mountain,Arizona,7259,2606,7158024
5,Mountain,Colorado,7607,3250,5691287
38,Mid-Atlantic,Pennsylvania,8163,5349,12800922
37,Pacific,Oregon,11139,3337,4181886
47,Pacific,Washington,16424,5880,7523869
43,West South Central,Texas,19199,6111,28628666
9,South Atlantic,Florida,21443,9587,21244317
32,Mid-Atlantic,New York,39827,52070,19530351
4,Pacific,California,109008,20964,39461588

In [11]:
# Ordena el DataFrame por la columna 'family_members' de forma descendente

homlessness_fam = homlessness.sort_values('family_members', ascending = False, axis=0)

# Imprime el resultado
homlessness_fam

,region,state,individuals,family_members,state_pop
32,Mid-Atlantic,New York,39827,52070,19530351
4,Pacific,California,109008,20964,39461588
21,New England,Massachusetts,6811,13257,6882635
9,South Atlantic,Florida,21443,9587,21244317
43,West South Central,Texas,19199,6111,28628666
47,Pacific,Washington,16424,5880,7523869
38,Mid-Atlantic,Pennsylvania,8163,5349,12800922
13,East North Central,Illinois,6752,3891,12723071
30,Mid-Atlantic,New Jersey,6048,3350,8886025
37,Pacific,Oregon,11139,3337,4181886
35,East North Central,Ohio,6929,3320,11676341
23,West North Central,Minnesota,3993,3250,5606249
5,Mountain,Colorado,7607,3250,5691287
22,East North Central,Michigan,5209,3142,9984072
8,South Atlantic,District of Columbia,3770,3134,701547
33,South Atlantic,North Carolina,6451,2817,10381615
2,Mountain,Arizona,7259,2606,7158024
10,South Atlantic,Georgia,6943,2556,10511131
11,Pacific,Hawaii,4131,2399,1420593
20,South Atlantic,Maryland,4914,2230,6035802
49,East North Central,Wisconsin,2740,2167,5807406
25,West North Central,Missouri,3776,2107,6121623
46,South Atlantic,Virginia,3928,2047,8501286
42,East South Central,Tennessee,6139,1744,6771631
6,New England,Connecticut,2280,1696,3571520
14,East North Central,Indiana,3776,1482,6695497
19,New England,Maine,1450,1066,1339057
36,West South Central,Oklahoma,2823,1048,3940235
15,West North Central,Iowa,1711,1038,3148618
44,Mountain,Utah,1904,972,3153550
17,East South Central,Kentucky,2735,953,4461153
0,East South Central,Alabama,2570,864,4887681
40,South Atlantic,South Carolina,3082,851,5084156
16,West North Central,Kansas,1443,773,2911359
12,Mountain,Idaho,1297,715,1750536
27,West North Central,Nebraska,1745,676,1925614
29,New England,New Hampshire,835,615,1353465
31,Mountain,New Mexico,1949,602,2092741
1,Pacific,Alaska,1434,582,735139
18,West South Central,Louisiana,2540,519,4659690
45,New England,Vermont,780,511,624358
28,Mountain,Nevada,7058,486,3027341
3,West South Central,Arkansas,2280,432,3009733
26,Mountain,Montana,983,422,1060665
7,South Atlantic,Delaware,708,374,965479
39,New England,Rhode Island,747,354,1058287
24,East South Central,Mississippi,1024,328,2981020
41,West North Central,South Dakota,836,323,878698
48,South Atlantic,West Virginia,1021,222,1804291
50,Mountain,Wyoming,434,205,577601
34,West North Central,North Dakota,467,75,758080

In [12]:
# Ordena el DataFrame por la columna 'region' y la columna 'state_pop' de manera descendente y ascendente respectivamente

homlessness_reg_state = homlessness.sort_values(['region', 'state_pop'], ascending = (False,True))

# Imprime el resultado
homlessness_reg_state

,region,state,individuals,family_members,state_pop
3,West South Central,Arkansas,2280,432,3009733
36,West South Central,Oklahoma,2823,1048,3940235
18,West South Central,Louisiana,2540,519,4659690
43,West South Central,Texas,19199,6111,28628666
34,West North Central,North Dakota,467,75,758080
41,West North Central,South Dakota,836,323,878698
27,West North Central,Nebraska,1745,676,1925614
16,West North Central,Kansas,1443,773,2911359
15,West North Central,Iowa,1711,1038,3148618
23,West North Central,Minnesota,3993,3250,5606249
25,West North Central,Missouri,3776,2107,6121623
8,South Atlantic,District of Columbia,3770,3134,701547
7,South Atlantic,Delaware,708,374,965479
48,South Atlantic,West Virginia,1021,222,1804291
40,South Atlantic,South Carolina,3082,851,5084156
20,South Atlantic,Maryland,4914,2230,6035802
46,South Atlantic,Virginia,3928,2047,8501286
33,South Atlantic,North Carolina,6451,2817,10381615
10,South Atlantic,Georgia,6943,2556,10511131
9,South Atlantic,Florida,21443,9587,21244317
1,Pacific,Alaska,1434,582,735139
11,Pacific,Hawaii,4131,2399,1420593
37,Pacific,Oregon,11139,3337,4181886
47,Pacific,Washington,16424,5880,7523869
4,Pacific,California,109008,20964,39461588
45,New England,Vermont,780,511,624358
39,New England,Rhode Island,747,354,1058287
19,New England,Maine,1450,1066,1339057
29,New England,New Hampshire,835,615,1353465
6,New England,Connecticut,2280,1696,3571520
21,New England,Massachusetts,6811,13257,6882635
50,Mountain,Wyoming,434,205,577601
26,Mountain,Montana,983,422,1060665
12,Mountain,Idaho,1297,715,1750536
31,Mountain,New Mexico,1949,602,2092741
28,Mountain,Nevada,7058,486,3027341
44,Mountain,Utah,1904,972,3153550
5,Mountain,Colorado,7607,3250,5691287
2,Mountain,Arizona,7259,2606,7158024
30,Mid-Atlantic,New Jersey,6048,3350,8886025
38,Mid-Atlantic,Pennsylvania,8163,5349,12800922
32,Mid-Atlantic,New York,39827,52070,19530351
24,East South Central,Mississippi,1024,328,2981020
17,East South Central,Kentucky,2735,953,4461153
0,East South Central,Alabama,2570,864,4887681
42,East South Central,Tennessee,6139,1744,6771631
49,East North Central,Wisconsin,2740,2167,5807406
14,East North Central,Indiana,3776,1482,6695497
22,East North Central,Michigan,5209,3142,9984072
35,East North Central,Ohio,6929,3320,11676341
13,East North Central,Illinois,6752,3891,12723071

## Seleccionando columnas de un DataFrame
<p>Cuando trabajamos con datos, es posible que no necesitemos todas las variables en nuestro conjunto de datos. Los corchetes (<code>[]</code>) se pueden utilizar para seleccionar solo las columnas que nos interesan en un orden que nos resulte lógico... Para seleccionar solo la columna <code>"col_a"</code> de un DataFrame df, usaremos <code>df["col_a"]</code></p>

In [13]:
# Selecciona la columna 'individuals' y Ordena descendente

individuals = homlessness['individuals'].sort_values(ascending = False)

# Imprime el resultado
individuals

4     109008
32     39827
9      21443
43     19199
47     16424
37     11139
38      8163
5       7607
2       7259
28      7058
10      6943
35      6929
21      6811
13      6752
33      6451
42      6139
30      6048
22      5209
20      4914
11      4131
23      3993
46      3928
25      3776
14      3776
8       3770
40      3082
36      2823
49      2740
17      2735
0       2570
18      2540
6       2280
3       2280
31      1949
44      1904
27      1745
15      1711
19      1450
16      1443
1       1434
12      1297
24      1024
48      1021
26       983
41       836
29       835
45       780
39       747
7        708
34       467
50       434
Name: individuals, dtype: int64

In [16]:
# Selecciona las columnas 'state' y 'family_members' y Ordena ascendente por 'state'

state_fam = homlessness[['state','family_members']].sort_values('state', ascending=True)

# Imprime el resultado
state_fam

                   state  family_members
0                Alabama             864
1                 Alaska             582
2                Arizona            2606
3               Arkansas             432
4             California           20964
5               Colorado            3250
6            Connecticut            1696
7               Delaware             374
8   District of Columbia            3134
9                Florida            9587
10               Georgia            2556
11                Hawaii            2399
12                 Idaho             715
13              Illinois            3891
14               Indiana            1482
15                  Iowa            1038
16                Kansas             773
17              Kentucky             953
18             Louisiana             519
19                 Maine            1066
20              Maryland            2230
21         Massachusetts           13257
22              Michigan            3142
23             Minnesota            3250
24           Mississippi             328
25              Missouri            2107
26               Montana             422
27              Nebraska             676
28                Nevada             486
29         New Hampshire             615
30            New Jersey            3350
31            New Mexico             602
32              New York           52070
33        North Carolina            2817
34          North Dakota              75
35                  Ohio            3320
36              Oklahoma            1048
37                Oregon            3337
38          Pennsylvania            5349
39          Rhode Island             354
40        South Carolina             851
41          South Dakota             323
42             Tennessee            1744
43                 Texas            6111
44                  Utah             972
45               Vermont             511
46              Virginia            2047
47            Washington            5880
48         West Virginia             222
49             Wisconsin            2167
50               Wyoming             205

In [17]:
# Selecciona las columnas 'region' y 'individuals' y ordena de manera ascendente y descendente respectivamente

reg_ind = homlessness[['region', 'individuals']].sort_values(['region', 'individuals'], ascending=(True, False))

# Imprime el resultado
reg_ind

                region  individuals
35  East North Central         6929
13  East North Central         6752
22  East North Central         5209
14  East North Central         3776
49  East North Central         2740
42  East South Central         6139
17  East South Central         2735
0   East South Central         2570
24  East South Central         1024
32        Mid-Atlantic        39827
38        Mid-Atlantic         8163
30        Mid-Atlantic         6048
5             Mountain         7607
2             Mountain         7259
28            Mountain         7058
31            Mountain         1949
44            Mountain         1904
12            Mountain         1297
26            Mountain          983
50            Mountain          434
21         New England         6811
6          New England         2280
19         New England         1450
29         New England          835
45         New England          780
39         New England          747
4              Pacific       109008
47             Pacific        16424
37             Pacific        11139
11             Pacific         4131
1              Pacific         1434
9       South Atlantic        21443
10      South Atlantic         6943
33      South Atlantic         6451
20      South Atlantic         4914
46      South Atlantic         3928
8       South Atlantic         3770
40      South Atlantic         3082
48      South Atlantic         1021
7       South Atlantic          708
23  West North Central         3993
25  West North Central         3776
27  West North Central         1745
15  West North Central         1711
16  West North Central         1443
41  West North Central          836
34  West North Central          467
43  West South Central        19199
36  West South Central         2823
18  West South Central         2540
3   West South Central         2280

## Filtrando un DataFrame
<p>Una gran parte del proceso de análisis de datos consiste en encontrar qué partes de un conjunto de datos son interesantes. Una de las técnicas más simples para esto es encontrar un subconjunto de filas que coincida con algunos criterios. Esto a veces se conoce como <i>subsetting rows</i>.</p>

In [25]:
# Filtra las filas donde 'individuals' sea mayor a 10,000

ind_mayor_10k = homlessness[homlessness['individuals'] > 10000]



# Resultado
ind_mayor_10k

                region       state  individuals  family_members  state_pop
4              Pacific  California       109008           20964   39461588
9       South Atlantic     Florida        21443            9587   21244317
32        Mid-Atlantic    New York        39827           52070   19530351
37             Pacific      Oregon        11139            3337    4181886
43  West South Central       Texas        19199            6111   28628666
47             Pacific  Washington        16424            5880    7523869

In [28]:
# Filra las filas donde 'region' es 'Mountain'

mountain_reg = homlessness[homlessness['region'] == 'Mountain']

# Resultado
mountain_reg

      region       state  individuals  family_members  state_pop
2   Mountain     Arizona         7259            2606    7158024
5   Mountain    Colorado         7607            3250    5691287
12  Mountain       Idaho         1297             715    1750536
26  Mountain     Montana          983             422    1060665
28  Mountain      Nevada         7058             486    3027341
31  Mountain  New Mexico         1949             602    2092741
44  Mountain        Utah         1904             972    3153550
50  Mountain     Wyoming          434             205     577601

In [36]:
# Fltra las filas donde 'family_members' sea menor a '1000' y la region sea 'Pacific'

# Una opcion
condicion = (homlessness['family_members'] < 1000) & (homlessness['region'] == 'Pacific')
fam_reg = homlessness[condicion]

# otra opcion sin variable intermedia
fam_reg = homlessness[(homlessness['family_members'] < 1000) & (homlessness['region'] == 'Pacific')]

# Resultado
fam_reg

    region   state  individuals  family_members  state_pop
1  Pacific  Alaska         1434             582     735139

## Filtrando variables categóricas
<p>Filtrar un conjunto de datos basado en una variable categórica a menudo implica el uso del operador "o" (<code>|</code>) para seleccionar filas de varias categorías. Esto puede resultar tedioso cuando, por ejemplo, deseamos que una variable cumpla tres o más condiciones. Para esto, podemos utilizar el método <code>.isin()</code> que nos permitirá abordar este problema escribiendo una condición en lugar de tres o más por separado.</p>

In [ ]:
# Filtra las filas que contengan las regiones South Atlantic o Mid-Atlantic

regiones = ['South Atlantic', 'Mid-Atlantic']

# Resultado
homlessness[homlessness['region'].isin(regiones)]

# Metodo largo
#homlessness[(homlessness['region'] == 'South Atlantic') | (homlessness['region'] == 'Mid-Atlantic')]

,region,state,individuals,family_members,state_pop
7,South Atlantic,Delaware,708,374,965479
8,South Atlantic,District of Columbia,3770,3134,701547
9,South Atlantic,Florida,21443,9587,21244317
10,South Atlantic,Georgia,6943,2556,10511131
20,South Atlantic,Maryland,4914,2230,6035802
30,Mid-Atlantic,New Jersey,6048,3350,8886025
32,Mid-Atlantic,New York,39827,52070,19530351
33,South Atlantic,North Carolina,6451,2817,10381615
38,Mid-Atlantic,Pennsylvania,8163,5349,12800922
40,South Atlantic,South Carolina,3082,851,5084156
46,South Atlantic,Virginia,3928,2047,8501286
48,South Atlantic,West Virginia,1021,222,1804291

In [43]:
# Filtra las filas que NO contengan las regiones South Atlantic o Mid-Atlantic

# simbolo: ~

regiones = ['South Atlantic', 'Mid-Atlantic']

# Resultado
homlessness[~homlessness['region'].isin(regiones)]

                region          state  individuals  family_members  state_pop
0   East South Central        Alabama         2570             864    4887681
1              Pacific         Alaska         1434             582     735139
2             Mountain        Arizona         7259            2606    7158024
3   West South Central       Arkansas         2280             432    3009733
4              Pacific     California       109008           20964   39461588
5             Mountain       Colorado         7607            3250    5691287
6          New England    Connecticut         2280            1696    3571520
11             Pacific         Hawaii         4131            2399    1420593
12            Mountain          Idaho         1297             715    1750536
13  East North Central       Illinois         6752            3891   12723071
14  East North Central        Indiana         3776            1482    6695497
15  West North Central           Iowa         1711            1038    3148618
16  West North Central         Kansas         1443             773    2911359
17  East South Central       Kentucky         2735             953    4461153
18  West South Central      Louisiana         2540             519    4659690
19         New England          Maine         1450            1066    1339057
21         New England  Massachusetts         6811           13257    6882635
22  East North Central       Michigan         5209            3142    9984072
23  West North Central      Minnesota         3993            3250    5606249
24  East South Central    Mississippi         1024             328    2981020
25  West North Central       Missouri         3776            2107    6121623
26            Mountain        Montana          983             422    1060665
27  West North Central       Nebraska         1745             676    1925614
28            Mountain         Nevada         7058             486    3027341
29         New England  New Hampshire          835             615    1353465
31            Mountain     New Mexico         1949             602    2092741
34  West North Central   North Dakota          467              75     758080
35  East North Central           Ohio         6929            3320   11676341
36  West South Central       Oklahoma         2823            1048    3940235
37             Pacific         Oregon        11139            3337    4181886
39         New England   Rhode Island          747             354    1058287
41  West North Central   South Dakota          836             323     878698
42  East South Central      Tennessee         6139            1744    6771631
43  West South Central          Texas        19199            6111   28628666
44            Mountain           Utah         1904             972    3153550
45         New England        Vermont          780             511     624358
47             Pacific     Washington        16424            5880    7523869
49  East North Central      Wisconsin         2740            2167    5807406
50            Mountain        Wyoming          434             205     577601

In [46]:
# Estados donde hay desiertos

desert = ['California', 'Arizona', 'Nevada', 'Utah']

# Filtra las filas con los estados en donde hay desiertes

homlessness[homlessness['state'].isin(desert)]

# Resultado

      region       state  individuals  family_members  state_pop
2   Mountain     Arizona         7259            2606    7158024
4    Pacific  California       109008           20964   39461588
28  Mountain      Nevada         7058             486    3027341
44  Mountain        Utah         1904             972    3153550

## Agregando nuevas columnas
<p>Por lo general los datos que tenemos no son suficientes para nuestro análisis, siempre necesitamos agregar nuevas columnas o campos calculados a nuestro DataFrame. Esto en el campo de la ciencia de datos se le conoce como <i>feature engineering</i>.
Se pueden crear nuevas columnas desde cero, pero también es común derivarlas de otras, por ejemplo, agregando campos calculados con base en otro existente o cambiando su escala de unidades o valor.
    
En este ejercicio, vamos a contestar la pregunta: "¿Qué estado tiene el mayor número de personas sin hogar por cada 10,000 personas?
</p>

In [53]:
# Crear una columna que calcule las personas sin hogar por cada 10K personas por estado

homlessness['individuals_por_10k'] = 10000*(homlessness['individuals'] + homlessness['family_members'])/homlessness['state_pop']

# Vamos a filtrar esta nueva columna 'indiv_per_10k' con valores mayores a 20

filtro = homlessness[homlessness['individuals_por_10k'] > 20]

# Vamos a ordenar de mandera descendente nuestra nueva variable

orden = filtro.sort_values('individuals_por_10k', ascending=False)

# Vamos a seleccionar únicamente los campos 'state' y 'indiv_per_10k'

resultado = orden[['state', 'individuals_por_10k']]

# Resultado
resultado

                   state  individuals_por_10k
8   District of Columbia            98.411083
32              New York            47.053430
11                Hawaii            45.966720
37                Oregon            34.615960
4             California            32.936333
47            Washington            29.644323
21         Massachusetts            29.157438
1                 Alaska            27.423385
28                Nevada            24.919558
45               Vermont            20.677240